.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #696969;
  padding: 15px 25px; 
}

.logo {
  display: flex;
  text-decoration: none;
  font-size: 45px;
}

.logo__react {
  color: orange;
}
